{% extends 'account/base.html.twig' %}

{% block title %} MODIFICATION D'UNE SALLE {% endblock %}

{% block titrepage %}MODIFICATION D'UNE SALLE !{% endblock %}

{% block filedarian %}
<li><a href="{{path('accueil_account')}}">Sen office</a></li>
<li><a href="{{path('liste_salle')}}">Mes salles</a></li>
<li class="active">Editer une salle</li>
{% endblock %}

{% block main %}

{% endblock %}